<!DOCTYPE html>
<html>

<head>
	<title>Trade Proposals</title>
	<link rel="stylesheet" href="../../styles/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px" rel="stylesheet">

	<meta charset='utf-8' />
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet' />

<% include global/head %>

</head>

<body>
	<% include global/header %>

<span class="hide" id="user_id"><%if(locals.user_id){%><%=user_id%><%}%></span><!-- Do not delete this line!!! It is not visible / does not affect the web page but it is necessary -->

<span class="hide" id="tradeproposals"><%if(locals.tradeproposals){%><%=JSON.stringify(tradeproposals)%><%}%></span>

<span class="hide" id="redirect"><%=JSON.stringify(locals.redirect == true)%></span>

<div class="bodydiv">

<h2>Trade Proposals</h2>
<br>
<form enctype="application/x-www-form-urlencoded" action="/edittradeproposal" method="POST">
	<span id="tradeproposalsList">
		<!-- <input type='text' name='id' value='" + USER_ID + "' class='hide'>
		<table><tr><th>To Give</th><th>To Receive</th><th>Actions</th></tr>
		<% if(locals.tradeproposals){ for(var i=0; i<tradeproposals.length; i++){ %>
			<tr><td><div class='tableDiv'><%- tradeproposals[i]["offerings"] %></div></td><td><div class='tableDiv'><%- tradeproposals[i]["requests"] %></div></td>
			<td><div class='tableDiv'><button type='submit' name='edit' value=<%- i %>>Edit</button><button type='submit' name='delete' value=<%- i %>>Delete</button><button type='submit' name='test' value=<%- i %>>Test</button></div></td></tr>
		<% }} %>
	</table> -->
	</span>
</form>

<form enctype="application/x-www-form-urlencoded" action="/tradeproposal" method="POST">
	<span id='useridspan'></span>

<br><br>

	 <input type="submit" value="Add Trade Proposal"><br>
</form>

</div>

<hr style='padding:0; margin:0; height:90px; visibility:hidden;' />


	<% include global/footer %>

</body>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js'></script>
<script src="../../scripts/scripts.js"></script>

</html>
